* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 75px;
  line-height: 75px;
  padding: 0px 100px;
  position: absolute;
  background-image: linear-gradient(#b8b8da, #021d77);


}

nav .logo p {
  font-size: 25px;
  font-weight: bold;
  float: left;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
}

nav ul {
  float: right;
  flex-wrap: wrap;
  justify-content: space-between;

}

nav li {
  display: inline-block;
  width: 20%;
  /* adjust the width as needed */
  text-align: center;



}

nav li a {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0% 50px;
  color: #bff2ed;
  text-decoration: none;

}

nav li a:hover {
  color: #f4f4f4;
  transition: all 0.4s ease 0s;
  box-shadow: #021d77;
  text-decoration: underline;
}

.content-items img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.text {
  width: 15%;
  color: #16172c;
  position: absolute;
  top: 50%;
  right: 40%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  font-weight: bolder;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.icons {
  color: #101478;
  position: absolute;
  top: 56%;
  right: 56%;
  color: #102742;
  font-size: medium;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.imag img {
  position: absolute;
  transform: scale(0.2);
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 300px;
  /* sets the width of the image */
  height: auto;
  cursor: pointer;
}




/*----------------ABOUT US--------------------------*/

#about-us {
  background-color: #f7f7f7;
  /* optional background color */
  padding: 40px;
  text-align: center;

}


.about-us-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-us-item {
  margin: 20px;
  text-align: center;
}

.about-us-item img {
  width: 350px;
  height: 350px;
  border-radius: 70%;
  margin-bottom: 20px;
}

.about-us-item h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.about-us-item p {
  margin-bottom: 20px;
}

/*----------------contact us-----------------------*/

#contact-us {
  align-items: center;
  flex-basis: 48%;
  margin-bottom: 20px;
}

.contact-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-left,
.form-right {
  width: 50%;
  margin: 0 20px;
}

.form-left {
  float: left;
}

.form-right {
  float: right;
}

.contact-col label {
  margin-bottom: 10px;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.contact-col textarea {
  height: 150px;
  resize: vertical;
}

.contact-col button[type="submit"] a {
  width: 100%;
  height: 40px;
  align-content: center;
  padding: 10px;
  margin: 15px 0;
  background: #4c4caf;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: large;
  text-emphasis-color: #fff;
  align-self: center;

}








/*------------------------FOOTER------------------------*/

.footer {
  width: 100%;
  text-align: center;
  padding: 3px 20px;

}

.footer h2 {
  margin-bottom: auto;
  margin-top: auto;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  nav {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
  }

  nav .logo p {
    font-size: 20px;
  }

  nav ul {
    float: none;
    text-align: center;
  }

  nav li {
    margin-right: 0;


  }

  nav li a {
    font-size: 14px;
    padding: 0 10px;
  }

  .content-items img {
    height: 50vh;
  }

  .text {
    top: 30%;
    right: 20%;
    font-size: x-large;
  }

  .icons {
    top: 35%;
    right: 20%;
  }

  .imag img {
    width: 200px;
    top: 40%;
    left: 50%;
  }

  #about-us {
    padding: 20px;
  }

  .about-us-container {
    flex-direction: column;
  }

  .about-us-item {
    margin: 10px;
  }

  .contact-us {
    flex-basis: 100%;
  }

  .form-left,
  .form-right {
    width: 100%;
    margin: 0;
  }

  .contact-col button[type="submit"] a {
    width: 100%;
    height: 30px;
    font-size: medium;
  }

  .footer {
    padding: 10px;
  }

  .footer h2 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 480px) {
  nav {
    height: 50px;
    line-height: 50px;
  }

  nav .logo p {
    font-size: 18px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    width: 50%;
  }

  nav li a {
    font-size: 12px;
    padding: 0 2px;
  }

  .content-items img {
    height: 30vh;
  }

  .text {
    top: 30%;
    right: 10%;
    font-size: large;
  }

  .icons {
    top: 40%;
    right: 10%;
  }

  .imag img {
    width: 200px;
    top: 40%;
    right: 10%;
    ;
  }

  #about-us {
    padding: 40px;
  }

  .about-us-item {
    margin: 5px;
  }

  .contact-col button[type="submit"] a {
    width: 100%;
    height: 25px;
    font-size: small;
  }

  .footer {
    padding: 5px;
  }

  .footer h2 {
    margin-bottom: 5px;
  }
}